@charset "utf-8";
/*
                   _ooOoo_
                  o8888888o
                  88" . "88
                  (| -_- |)
                  O\  =  /O
               ____/`---'\____
             .'  \\|     |//  `.
            /  \\|||  :  |||//  \
           /  _||||| -:- |||||-  \
           |   | \\\  -  /// |   |
           | \_|  ''\---/''  |   |
           \  .-\__  `-`  ___/-. /
         ___`. .'  /--.--\  `. . __
      ."" '<  `.___\_<|>_/___.'  >'"".
     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
     \  \ `-.   \_ __\ /__ _/   .-` /  /
======`-.____`-.___\_____/___.-`____.-'======
                   `=---='
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
         佛祖保佑       永无BUG
/* 初始化 */
html,body{position:relative;margin:0;padding:0;border:0;vertical-align: baseline;font-family:"Microsoft YaHei",Tahoma,Arial,"Helvetica Neue";font-size: 14px;  line-height: 24px; color: #333; background: #fff;}
a, img{border:0;}
ul {margin: 0;padding: 0;}
a { text-decoration: none; }
ul li {list-style: none;}
img {vertical-align: middle;border: none; -ms-interpolation-mode: bicubic;}
div, p, span, a, input, img,textarea,ul,li{margin:0; padding:0; border:none; outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box;}

.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
[v-cloak] { display: none !important;}

.html{ position: relative; height: 100%; width: 100%; }

.dsb{ display: block;}
.dsn{ display: none;}
.fl{ float: left;}
.fr{ float: right;}
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}


.toptype{ height: 174px; background: url(../images/bg02.jpg); background-size: 100% 100%; }
.toptype .bread{ height: 40px; background: url(../images/icon_map.png) no-repeat 28px center rgba(255,255,255,.2); line-height: 40px; color: #fff; padding-left: 50px; }
.toptype .bread-sp{ padding: 0 10px; }
.toptype .types{ overflow: hidden; padding: 38px 0 30px 28px; }
.toptype .type{ display: block; float: left; margin-right: 38px; width: 188px; height: 50px; color: #fff; background: url(../images/bg01_df.png); background-size: 100% 100%; text-align: center;line-height: 50px; font-size: 16px; }
.toptype .type-active{ background-image: url(../images/bg01_ac.png); box-shadow: 0 10px 10px rgba(0,0,0,.4); }

.content{ padding: 0 28px 28px 0; }

.loading{ padding: 10px 0; text-align: center;  font-size: 12px; color: #666; }
.loading .load-ico{ height: 16px; margin-right: 10px; }

.cont-left{ float: left; width: 550px;padding: 0 10px 0 28px; position: relative; }
.cont-left .cl-box{ padding-top: 14px; }
.cont-left .clb-til{ position: relative; padding: 14px 0; font-size: 24px; line-height: 40px; color: #333; }
.cont-left .clb-ico{ position: absolute; right: 0; height: 40px; width: 30px; top: 14px; background-repeat: no-repeat; background-position: center center; }
.cont-left .clb-icoa{ background-image: url(../images/icon_refresh.png); }
.cont-left .clb-icob{background-image: url(../images/icon_set.png); }
.cont-left table{border-collapse: collapse;border-spacing: 0; line-height: 36px; width: 100%; background: #fff; font-size: 14px;}
.cont-left tr:nth-child(2n+1){ background: #f8eded;}
.cont-left tr:nth-child(1){ font-weight: bold;}
.cont-left td{margin:0;padding:0;}
.cont-left td:nth-child(1){ padding-left: 18px; width: 40%; }
.cont-left td:nth-child(2){ text-align: right; width: 30%;  }
.cont-left td:nth-child(3){ padding-right: 18px; text-align: right; }
.cont-left .clb-item{ padding-top: 10px; }
.cont-left .clb-item{}
.cont-left .clb-item-til{ position: relative; padding-left: 17px; font-size: 16px; font-weight: bold; line-height: 48px; }
.cont-left .clb-item-til:before{ content: ""; display: block; position: absolute; left: 0; top: 50%; height: 8px; width: 8px; border-radius: 50%; margin-top: -4px; background: #ce5a7e; }
.cont-left .clb-item-type{ font-weight: normal; color: #999; font-size: 14px; float: right; }
.cont-left .clb-ul{ overflow: hidden; white-space: nowrap;}
.cont-left .clb-li{ float: left; margin-right: 34px; overflow: hidden; }
.cont-left .clb-li:nth-child(2n){ margin-right: 0; }
.cont-left .clb-li-l{ float: left; width: 84px; }
.cont-left .clb-li-m{ text-align: right; width: 125px; float: left; padding-right: 6px; color: #999; }
.cont-left .clb-li-sp{ padding-right: 8px; }
.cont-left .clb-li-r{ float: right; width: 28px; position: relative; text-align: right; color: #999; }
.cont-left .clb-li-r:before{ content: ""; display: block; position: absolute; left: 0; top: 50%; height: 14px; width: 1px; margin-top: -7px;border-left: 1px solid #999; }

.cont-right{ float: right; margin-top: 38px; min-height: 300px; background: #f1f1f1; padding-bottom: 80px; }
.cont-right .linetool{ position: relative; height: 44px; padding-left: 34px; line-height: 44px; background: #dfdfdf; }
.cont-right .lt-type{ position: relative; float: left; width: 120px; height: 44px; color: #e3077e; text-align: center; }
.cont-right .lt-sel{ display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; opacity: 0; }
.cont-right .tl-ico{ margin-left: 10px; }
.cont-right .lt-updata{ position: relative; display: block; float: left; height: 44px; width: 30px; background: url(../images/icon_updt.png) no-repeat center center; }
.cont-right .lt-updata:hover:after{ content: ""; display: block; position: absolute; left: 50%; bottom: 24px; width: 132px; height: 52px; margin-left: -66px; background: url(../images/icon_tip.png); }
.cont-right .uptime{ font-size: 12px; color: #333; }
.cont-right .uptime-ls{ margin-left: 20px; }

.fwbtab{ overflow: hidden; padding: 16px 40px 40px; }
.fwbtab .tab-cont{ float: right; overflow: hidden; border-radius: 5px;background: #e3077e; line-height: 38px; font-weight: bold; }
.fwbtab .tab{ float: right; display: block; float: left; padding: 0 20px; color: #fff; }
.fwbtab .tab-active{ background: #aa1465; }

.xiangx{ position: relative; height: 720px; margin: 0 30px 0 90px; }
.xiangx .hr-y{ position: absolute; border-left: 1px solid #aa9ba9; color: #aa9ba9; font-weight: bold; }
.xiangx .hr-y:after{ content: ""; display: block; position: absolute; left: -10px; top: -9px; height: 0; width: 0; border-width: 9px; border-style: solid; border-color: transparent transparent  #aa9ba9  transparent;  }
.xiangx .hr-ya{ left: 0; top: 0; height: 720px; }
.xiangx .hr-yb{ left: 50%; top: 0; height: 48%; }
.xiangx .hr-yc{left: 50%; bottom: 0; height: 48%; }
.xiangx .hr-yt{ position: absolute; left: -24px; }
.xiangx .hr-yt-t{top: 0;}
.xiangx .hr-yt-b{ bottom: 0; }
.xiangx .hr-x{position: absolute; border-top: 1px solid #aa9ba9; color: #aa9ba9; font-weight: bold;}
.xiangx .hr-x:after{ content: ""; display: block; position: absolute; top: -10px; right: -9px; height: 0; width: 0; border-width: 9px; border-style: solid; border-color: transparent transparent  transparent #aa9ba9;  }
.xiangx .hr-xa{ width: 98%; right: 0; top: 25%; }
.xiangx .hr-xb{width: 105%; right: 0; top: 50%;}
.xiangx .hr-xc{width: 98%; right: 0; top: 75%;}
.xiangx .hr-xt{position: absolute; top: 10px;}
.xiangx .hr-xt-l{left: 0;}
.xiangx .hr-xt-r{ right: 0; }
.xiangx .cr{ position: absolute; border-radius: 50%; background: url(../images/bg03.png) repeat-x; background-size: 1px 100%; box-shadow: 0 6px 6px rgba(21,76,96,.2); height: 100px; width: 100px;  text-align: center; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.xiangx .cr-d{ background-image: url(../images/bg04.png); }
.xiangx .cr-te{ position: absolute; left: 50%; top: -30px; width: 160px; margin-left: -80%; font-size: 16px; font-weight: bold; }
.xiangx .cr-te-d{ top: auto; bottom: -30px; }
.xiangx .cr-num{ position: absolute; top: 50%; left: 0; width: 100%; color: #fff; font-weight: bold; color: #fff; font-size: 20px; -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); -o-transform: translate(0,-50%); -ms-transform: translate(0,-50%); transform: translate(0,-50%);  }
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.xiangx .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}
.cont-right .xxxx{}

