<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no">
	<meta content="telephone=no" name="format-detection">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" /> 
    <script language="javascript" type="text/javascript" src="./assets/javascript/size.js"></script>
    <script language="javascript" type="text/javascript" src="./assets/javascript/jquery-2.1.4.min.js"></script>
    <script  language="javascript" type="text/javascript" src="./assets/javascript/tools.js"></script>
    <title>demo样板</title>
    <style>
        .cm-swipe{ height: 1.76rem; margin-bottom: 30px;}
        body{ background: #aaa;}
    </style>
</head>
<body>
        <div class="cm-swipe cm-swipea" id="J_banner">
            <div class="swipe-cont">
                <a href="javascript:;" class="swipe-item"><img src="./img/img01.jpg"></a>
            </div>
        </div>
        <div class="cm-swipe cm-swipeb" id="J_bannera">
            <div class="swipe-cont">
                <a href="javascript:;" class="swipe-item"><img src="./img/img01.jpg"></a>
                <a href="javascript:;" class="swipe-item"><img src="./img/img02.jpg"></a>
            </div>
        </div>
        <div class="cm-swipe cm-swipec" id="J_bannerb">
            <div class="swipe-cont">
                <a href="javascript:;" class="swipe-item"><img src="./img/img01.jpg"></a>
                <a href="javascript:;" class="swipe-item"><img src="./img/img02.jpg"></a>
                <a href="javascript:;" class="swipe-item"><img src="./img/img03.jpg"></a>
                <a href="javascript:;" class="swipe-item"><img src="./img/img04.jpg"></a>
                <a href="javascript:;" class="swipe-item"><img src="./img/img05.jpg"></a>
            </div>
        </div>
        <script>
            $(function(){
                var a = new swipe({id:'J_banner'})
                var b = new swipe({id:'J_bannera'})
                var c = new swipe({id:'J_bannerb'})

                c.swipeend = function(rs){
                    console.log(7,rs)
                }
                
            })
        </script>
</body>
</html>
