@charset "utf-8";
div,p,span,a,nav,input,select,textarea,ul,li,img{ margin:0; padding:0; outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box; box-sizing: border-box;}
body{ font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif; margin: 0; padding: 0; margin: 0 auto; position: relative;}
img { border: 0;display: inline-block; max-width: 100%; vertical-align: middle;}
a{ text-decoration:none; color: #222;}
ul{ list-style: none; }
dl,ul,p{ -webkit-margin-before:0em; -webkit-margin-after:0em;}
input,select,textarea{-webkit-appearance: none; font-size: 14px; outline: none; color: #333; font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif;}
body{ font-size: 14px; line-height: 24px; color: #333; background: #f6f6f6; }
html,body{ height: 100%; }
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.bgcfff{ background: #fff;}
.wp100{ width: 100%;}
.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.dsn{ display: none;}
.dsb{display: block;}
.center{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);  }
.clearfix:after{ content: ""; display: block; clear: both; }
.opacity0{ opacity: 0; }
.fwb{ font-weight: bold;}
.html{ width: 100%; margin: 0 auto; position: relative; z-index: 1;min-height: 100%;}

input::-webkit-input-placeholder { color: #ccc;}
textarea::-webkit-input-placeholder { color: #ccc;}

/* toast */
.tippop{ position: fixed; z-index: 99; left: 0; top: 50%;transform:translateY(-50%); -webkit-transform:translateY(-50%); font-size: 14px; text-align: center; width: 100%; padding: 0 30px;}
.tippop .text{ padding:20px; font-size: 14px; border-radius: 8px; }
.tippop .load{ display: inline-block; color: #fff; background: rgba(0,0,0,.6); border-radius: 8px; min-width: 200px;}
.tippop .danger{ background: #f2dede; color: #a94442;}
.tippop .success{ background: #dff0d8; color: #3c763d;}
.tippop .tip{ background: rgba(0,0,0,.6); color: #fff;}
.tippop_bg{position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: rgba(0,0,0,.6); z-index: 98;}
.tippop_bga{ background: rgba(0,0,0,0); }
.tippop_alert{ position: fixed; z-index: 99; left: 50%; top: 50%;transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size: 14px; text-align: center; min-width: 150px; width: 70%; border-radius: 10px; overflow: hidden;}
.tippop_alert_t{padding: 30px 15px; background: #fff; border-bottom: 1px solid #e8e8e8; text-align: center; font-size: 14px; color: #333; line-height: 20px;}
.tippop_alert_b{ display: block; height: 48px; line-height: 48px; text-align: center; font-size: 14px; color: #007eff; background: #fff; }
.tippop_confirm_btn{ display: block; float: left; width: 50%; height: 48px; line-height: 48px; color: #007eff;}
.tippop_confirm_btn:nth-child(1){ border-right:1px solid #e8e8e8;}
.tippop_input_m{ border-bottom: 1px solid #e8e8e8;  background: #fff; padding-bottom: 10px;}
.tippop_input_m .input{ display: block; height: 36px; width: 80%; margin: 0 auto; text-align: center; border:1px solid #e6e6e6; border-radius: 3px;}
.tippop_input_t{padding: 15px 15px 10px; background: #fff;text-align: center; font-size: 14px; color: #333; line-height: 20px;}
.tippop .text-io{ height: 20px; width: 4px; border-left: 1px solid #fff; border-right: 1px solid #fff; margin:0 auto; vertical-align: middle; -webkit-animation: tippop-rote .8s linear infinite;animation: tippop-rote .8s linear infinite;}
@-webkit-keyframes tippop-rote{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
@keyframes tippop-rote{
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.cm-switch{ display: block; height: 24px; background: #ddd; width: 50px; position: relative; border-radius: 12px; background: #fff; border:1px solid #eee; transition: all .2s; -webkit-transition: all .2s; }
.cm-switch:after{ content: ""; position: absolute; left: 1px; top: 0; height: 22px; width: 22px; border:0 solid #eee; background: #fff; border-radius: 50%; box-shadow: 0 1px 0 1px rgba(0,0,0,.1); transition: all .2s; -webkit-transition: all .2s; }
.cm-switch-active{ background: #44DB5E; border-color: #44DB5E;}
.cm-switch-active:after{left: 26px;}

.cm-nmchange-cont{ position: relative; float: right; width: 100px; text-align: center; line-height: 26px; border:1px solid #eee; border-radius: 3px; overflow: hidden;}
.cm-nmc-ao{ position: absolute; right: 0; top: 0; display: block; width: 30px; border-left: 1px solid #eee; font-size: 18px;}
.cm-nmc-aoa{ left: 0; border-right: 1px solid #eee; border-left: none;}


.editlinebox{ margin-top: 10px; background: #fff; padding-left: 14px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.editlinebox-nmt{ margin-top: 0;}
.editlinebox-nbt{ border-top: none;}
.editlinebox-npl{ padding-left: 0;}
.editlinebox .editline{ position: relative; display: block; padding-left: 80px; border-bottom: 1px solid #eee; position: relative;}
.editlinebox .editline:nth-last-child(1){ border-bottom: none;}
.editlinebox .editline-nbd{ border-bottom: none;}
.editlinebox .editline-full{padding-left: 0;}
.editlinebox .editline-select{ padding-right: 14px;}
.editlinebox .editline-select:after{ content: ""; display: block; position: absolute; right: 16px; top: 50%; height: 8px; width: 8px; border-top: 1px solid #aaa; border-right: 1px solid #aaa; -webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg); }
.editlinebox .editline-cover:before{ content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 3; height: 100%; width: 100%; }
.editlinebox .el-ado{position: absolute; left: 0; top: 0; line-height: 44px; color: #333;}
.editlinebox .el-ado-l14{ left: 14px;}
.editlinebox .el-ado-m{ top: 50%; margin-top: -22px; }
.editlinebox .el-ado-line{position: relative;}
.editlinebox .el-text{text-align: right; padding: 12px 14px 12px 0; color: #333; line-height: 20px; display: block;}
.editlinebox .el-text-dis{color: #ccc;}
.editlinebox .editline-full .el-text{ padding-left: 14px; text-align: left;}
.editlinebox .editline-full .el-text-full{ padding-left: 0;}
.editlinebox .el-textarea{ padding: 0 14px 10px 0;}
.editlinebox .el-input{ padding-right: 14px;}
.editlinebox .el-ctrol{ display: block; width: 100%; border:none; outline: none; background: #fff; height: 44px; text-align: right; color: #333;}
.editlinebox .el-ctrol-area{display: block; width: 100%; border:none; outline: none; background: #fff; height: 80px; color: #333; text-align: left;}
.editlinebox .el-ctrol-sel{direction: rtl;}
.editlinebox .el-checks{overflow: hidden; padding-top: 10px;}
.editlinebox .el-check,.editlinebox .el-radio{display: block; float: left; margin: 0 20px 10px 0; position: relative; color: #666; padding-left: 18px; white-space: nowrap;}
.editlinebox .el-check:before,.editlinebox .el-check:after{ position: absolute; left: 0; top: 50%; display: block; content: ""; height: 12px; width: 12px; border:1px solid #666; background: #fff; margin-top: -7px;}
.editlinebox .el-checked:before{ background: #85DBDA; background-size: 12px 12px; border-color: #85DBDA;}
.editlinebox .el-checked:after{ background: #85DBDA; left: 2px; height: 8px; width: 8px; border:1px solid #fff; margin-top: -5px;}
.editlinebox .el-radio:before,.editlinebox .el-radioed:after{ position: absolute; left: 0; top: 50%; display: block; content: ""; height: 12px; width: 12px; border:1px solid #666; border-radius: 50%; background: #fff; margin-top: -7px;}
.editlinebox .el-radioed:before{ border-color: #85DBDA; background: #85DBDA;}
.editlinebox .el-radioed:after{ background: #85DBDA; left: 2px; height: 8px; width: 8px; border:1px solid #fff; margin-top: -5px;}
.editlinebox .cm-switch{ float: right;}
.editlinebox .cm-nmchange{ padding: 10px 14px; overflow: hidden;}

.cm-pop{ position: fixed; left: 0; top: 0; height: 0; overflow: hidden; width: 100%; background: rgba(0,0,0,0.5); z-index: 10; opacity: 0;}
.cm-popz20{ z-index: 20;}
.cm-pop-active{ opacity: 1; height: 100%;}
.cm-pop .cm-pop-bg{position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
.cm-pop-cont{opacity: 0; transform:translateZ(0) translateY(100%); -webkit-transform:translateZ(0) translateY(100%); transition:all .3s; -webkit-transition:all .3s; background: #fff; border-radius: 10px;}
.cm-pop-mid-cont{ position: absolute; left: 10%; top: 50%; margin-top: -30px; width: 80%; transform:translateZ(0) translateY(-50%) scale(.8,.8); -webkit-transform:translateZ(0) translateY(-50%) scale(.8,.8); }
.cm-pop-active .cm-pop-mid-cont{opacity: 1;transform:translateZ(0) translateY(-50%) scale(1,1); -webkit-transform:translateZ(0) translateY(-50%) scale(1,1);}
.cm-pop-botcont{position: absolute; left: 0; bottom: 0; width: 100%; border-radius: 0; transform:translateZ(0) translateY(101%); -webkit-transform:translateZ(0) translateY(101%);}
.cm-pop-active .cm-pop-botcont{opacity: 1;transform:translateZ(0) translateY(0); -webkit-transform:translateZ(0) translateY(0);}
.cm-pop-top-cont{position: absolute; left: 0; top: 0; border-radius: 0; width: 100%; transform:translateZ(0) translateY(-101%); -webkit-transform:translateZ(0) translateY(-101%);}
.cm-pop-active .cm-pop-top-cont{opacity: 1;transform:translateZ(0) translateY(0); -webkit-transform:translateZ(0) translateY(0);}
.cm-pop-right-cont{position: absolute; right: 0; top: 0; border-radius: 0; height: 100%; transform:translateZ(0) translateX(101%); -webkit-transform:translateZ(0) translateX(101%);}
.cm-pop-active .cm-pop-right-cont{opacity: 1;transform:translateZ(0) translateX(0); -webkit-transform:translateZ(0) translateX(0);}


.cm-pop-btbs .cm-pop-cont{ background: none;}
.cm-pop-btbs .cm-pbtn{background: #fff; color: #333; border-bottom: 1px solid #eee; display: block; line-height: .44rem; text-align: center;}
.cm-pop-btbs .cm-btns{padding-bottom: 10px;}


.cm-pop .cm-pop-otil{ display: block; height: 44px;  color: #222; text-align: center; line-height: 44px;}
.cm-pop .cp-btn{ display: block; position: absolute; left: 0; top: 0; font-size: 16px; padding: 0 14px; text-align: center;  color: #3f94ee;}
.cm-pop .cp-btna{ left: auto; right: 0;}
.cm-pop .cp-til{ font-size: 16px; color: #666; font-weight: bold;}

.cm-slbox{ position: relative; overflow: hidden; text-align: center; padding: 10px 0; position: relative; background: #f6f6f6;}
.cm-slbox-nom{ position: relative; padding: 0; background: none;}
.cm-slbox-dis:before{ content: ""; display: block; position: absolute; z-index: 3; left: 0; top: 0; height: 100%; width: 100%; opacity: 0; }
.cm-slbox .cp-li{ line-height: 36px; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.cm-slbox .cp-case{ position: relative; overflow: hidden; height: 252px;}
.cm-slbox .cp-ul{ position: relative;}
.cm-slbox .cp-case:before{content: ""; display: block; position: absolute; left: 0; top: 0; height: 108px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(246,246,246,1) 0%,rgba(246,246,246,.4) 100%); background:linear-gradient(180deg,rgba(246,246,246,1) 0%,rgba(246,246,246,.4) 100%); border-bottom: 1px solid #aaa; z-index: 2;}
.cm-slbox .cp-case:after{content: ""; display: block; position: absolute; left: 0; bottom: 0; height: 108px; width: 100%; background:-webkit-linear-gradient(180deg,rgba(246,246,246,.4) 0%,rgba(246,246,246,1) 100%); background:linear-gradient(180deg,rgba(246,246,246,.4) 0%,rgba(246,246,246,1) 100%); border-top: 1px solid #aaa; z-index: 2;}
.cm-slbox .cm-slbox-time{ position: relative; float: left; width: 16.6%;}
.cm-slbox2 .cm-slbox-time{ width: 50%;}
.cm-slbox3 .cm-slbox-time{ width:33%;}
.cm-slbox3 .cm-slbox-time:nth-child(1){ width:34%;}
.cm-slbox5 .cm-slbox-time{ width:20%;}

.cm-slbox-table{ padding: 0; background: #fff; border-top: 1px solid #eee;}
.cm-dateselect_table{ background: #fff; position: relative; text-align: center;}
.cm-dateselect_table .dp-btns{ position: relative; overflow: hidden; padding: 0 40px; line-height: 40px; text-align: center; font-size: 16px;}
.cm-dateselect_table .dt-mbtn{ position: absolute; left: 0; top: 0; height: 40px; width: 40px; font-size: 18px;}
.cm-dateselect_table .dt-mbtna{ left: auto; right: 0;}
.cm-dateselect_table .dt-btn{ position: relative; display: block; float: left; width: 50%;}
.cm-dateselect_table .dt-btn:after{ content: ""; display: inline-block; vertical-align: middle; margin-left: 5px; border: 0 solid #fff; border-color: #ccc transparent transparent transparent; border-width: 6px 6px 0 6px}
.cm-dateselect_table .dt-btna:before{ content: ""; display: block; position: absolute; left: 0; top: 50%; width: 1px; height: 28px; margin-top: -14px; background: #ccc;}
.cm-dateselect_table .a{ display: block; height: 30px; text-align: right; font-size: 12px; line-height: 30px; height: 30px; text-align: center;}
.cm-dateselect_table .td{ border:1px solid #eee; width: 14.28%;}
.cm-dateselect_table table{border-collapse:collapse;}
.cm-dateselect_table .a.selected{font-weight: bold; text-decoration: underline; font-size: 16px; color: #58B586;}
.cm-dateselect_table .a.active{background: #58B586; color: #fff;}
.cm-dateselect_table .cont-month{ position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 0; overflow: hidden; background: #fff; opacity: 0;}
.cm-dateselect_table .cont-mls{ float: left; width: 33.3%; border-bottom: 1px solid #eee; line-height: 40px; font-size: 14px; border-right: 1px solid #eee;}
.cm-dateselect_table .cont-mls:nth-child(3n){ border-right: none}
.cm-dateselect_table .cont-mls-cur,.cm-dateselect_table .cont-yls-cur{ color: #58B586; font-weight: bold;text-decoration: underline;}
.cm-dateselect_table .cont-mls-hide{ clear: both; line-height: 40px;text-decoration: underline; }
.cm-dateselect_table .cont-year{ position: absolute; left: 0; top: 0; z-index: 3; width: 100%; height: 0; overflow: hidden; background: #fff; opacity: 0;}
.cm-dateselect_table .cont-year.cont-pop-active{ padding: 20px 60px 0;}
.cm-dateselect_table .cont-yl{ position: absolute; left: 10px; top: 0; height: 100%; width: 40px;}
.cm-dateselect_table .cont-yr{ position: absolute; right: 10px; top: 0; height: 100%; width: 40px;}
.cm-dateselect_table .cont-ylrm{ position: absolute; left: 0; top: 62px; height: 40px; width: 40px; text-align: center; line-height: 38px; border:1px solid #eee; border-radius: 50%;}
.cm-dateselect_table .cont-yc{ overflow: hidden; border-top: 1px solid #eee; border-left: 1px solid #eee; line-height: 40px;}
.cm-dateselect_table .cont-yls{ width: 33%; float: left; border-right: 1px solid #eee; border-bottom: 1px solid #eee;}
.cm-dateselect_table .cont-yls:nth-child(3n){ width: 34%;}
.cm-dateselect_table .cont-yx{ text-align: center; line-height: 40px;}
.cm-dateselect_table .cont-pop-active{ height: 100%; opacity: 0; -webkit-transform: scale(.8,.8); transform: scale(.8,.8);}
.cm-dateselect_table .cont-pop-show{ height: 100%; opacity: 1;-webkit-transform: scale(1,1); transform: scale(1,1); -webkit-transition: all .3s;transition: all .3s;}
.cm-dateselect_table .cont-pop-hide{ height: 100%; opacity: 0;-webkit-transform: scale(.8,.8); transform: scale(.8,.8); -webkit-transition: all .3s;transition: all .3s;}

/* px */
/* .cm-tabbox{ height: 44px; line-height: 44px; border-bottom: 1px solid #eee; background: #fff; text-align: center; font-size: 16px;}
.cm-tabbox-fixed{ position: fixed; left: 0; top: 0; width: 100%;}
.cm-tabbox .cmtab{ display: block; float: left; width: 25%;}
.cm-tabbox2 .cmtab{ width: 50%;}
.cm-tabbox3 .cmtab{ width: 33%;}
.cm-tabbox3 .cmtab:nth-last-child(1){ width: 34%;}
.cm-tabbox5 .cmtab{ width: 20%;}
.cm-tabbox .cmtab-active{ color: #58B586;}
.cm-tabbox .cmtab-in{ display: inline-block; height: 44px;}
.cm-tabbox-full .cmtab-in{ display: block;}
.cm-tabbox .cmtab-active .cmtab-in{ border-bottom: 3px solid #58B586;}
.cm-tabbox-x{ overflow-x: scroll; -webkit-overflow-scrolling: touch; white-space: nowrap;}
.cm-tabbox-x .cmtab{ display: inline-block; width: auto; float:none; padding: 0 10px;} */
/* rem */
.cm-tabbox{ height: .44rem; line-height: .44rem; border-bottom: 1px solid #eee; background: #fff; text-align: center; font-size: .16rem;}
.cm-tabbox-fixed{ position: fixed; left: 0; top: 0; width: 100%;}
.cm-tabbox .cmtab{ display: block; float: left; width: 25%;}
.cm-tabbox2 .cmtab{ width: 50%;}
.cm-tabbox3 .cmtab{ width: 33%;}
.cm-tabbox3 .cmtab:nth-last-child(1){ width: 34%;}
.cm-tabbox5 .cmtab{ width: 20%;}
.cm-tabbox .cmtab-active{ color: #58B586;}
.cm-tabbox .cmtab-in{ display: inline-block; height: .44rem;}
.cm-tabbox-full .cmtab-in{ display: block;}
.cm-tabbox .cmtab-active .cmtab-in{ border-bottom: .03rem solid #58B586;}
.cm-tabbox-x{ overflow-x: scroll; -webkit-overflow-scrolling: touch; white-space: nowrap; overflow-y: hidden;}
.cm-tabbox-x .cmtab{ display: inline-block; width: auto; float:none; padding: 0 .1rem;}


/* px */
/* .cm-topline{ position: fixed; left: 0; top: 0; height: 48px; width: 100%; padding: 0 48px; background: #fff; line-height: 48px; text-align: center; font-size: 16px; border-bottom: 1px solid #eee; -webkit-transition: all .5s; transition: all .5s;}
.cm-topline .tl-back{ position: absolute; left: 0; top: 0; width: 48px; height: 48px; z-index: 1;}
.cm-topline .tl-back:before{ content: ""; position: absolute; left: 18px; top: 50%; display: block; height: 10px; width: 10px; border-top: 1px solid #aaa; border-left: 1px solid #aaa;transform: translate(0,-50%) rotate(-45deg); -webkit-transform: translate(0,-50%) rotate(-45deg);}
.cm-topline .tl-demo{ position: absolute; z-index: 1; top: 0; right: 0; width: 48px; height: 48px; text-align: left;}
.cm-topline .tl-demo:before{ content: "搜索"; display: block; font-size: 14px;}
.cm-topline .cm-tabbox{ height: 48px; line-height: 48px;}
.cm-topline .cm-tabbox .cmtab-in{ height: 48px;}
.cm-topline .tl-input{ position: relative; z-index: 2; background-color: #fff; padding-top: 8px;}
.cm-topline .tl-ctrol{ display: block; height: 32px; width: 100%; padding-left: 10px; border:none; background: #fff; outline: none; background: #eee; border-radius: 24px; color: #333;}
.cm-topline-focus{ padding: 0 14px;} */
/* rem */
.cm-topline{ position: fixed; left: 0; top: 0; height: .48rem; width: 100%; padding: 0 .48rem; background: #fff; line-height: .48rem; text-align: center; font-size: .16rem; border-bottom: 1px solid #eee; -webkit-transition: all .5s; transition: all .5s;}
.cm-topline .tl-back{ position: absolute; left: 0; top: 0; width: .48rem; height: .48rem; z-index: 1;}
.cm-topline .tl-back:before{ content: ""; position: absolute; left: .18rem; top: 50%; display: block; height: .1rem; width: .1rem; border-top: 1px solid #aaa; border-left: 1px solid #aaa;transform: translate(0,-50%) rotate(-45deg); -webkit-transform: translate(0,-50%) rotate(-45deg);}
.cm-topline .tl-demo{ position: absolute; z-index: 1; top: 0; right: 0; width: .48rem; height: .48rem; text-align: left;}
.cm-topline .tl-demo:before{ content: "搜索"; display: block; font-size: .14rem;}
.cm-topline .cm-tabbox{ height: .48rem; line-height: .48rem;}
.cm-topline .cm-tabbox .cmtab-in{ height: .48rem;}
.cm-topline .tl-input{ position: relative; z-index: 2; background-color: #fff; padding-top: .08rem;}
.cm-topline .tl-ctrol{ display: block; height: 32px; width: 100%; padding-left: .1rem; border:none; background: #fff; outline: none; background: #eee; border-radius: .24rem; color: #333;}
.cm-topline-focus{ padding: 0 .14rem;}


.botmore{ padding: 10px 0; font-size: 12px; color: #999; text-align: center;}
.botmore .bmimg{ vertical-align: middle; height: 16px; width: 16px; margin-right: 5px;}
.botmore .done{ display: none; }
.botmore-all .bmimg{ display: none; }
.botmore-all .load{ display: none; }
.botmore-all .done{ display: inline; }

.cm-scrollrefresh{ position: fixed; height: 100%; width: 100%; top: 0; left: 0;overflow: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch;}
.cm-scrollrefresh .cm-sr-top{position: fixed; left: 50%; top: -40px; color: #666; -webkit-transform: translate3d(-50%,0,0); transform: translate3d(-50%,0,0); background: #fff; box-shadow: 0 0 5px 0 rgba(0,0,0,.4); line-height: 30px; border-radius: 15px; padding: 0 15px;}
.cm-scrollrefresh .cm-sr-top-arr{ position: relative; top: -1px; display: inline-block; height: 20px; width: 20px; margin-right: 5px; box-shadow: 0 0 1px 1px #ccc inset; border-radius: 50%; vertical-align: middle;}
.cm-scrollrefresh .cm-sr-top-ico{ position: absolute; left: 0; top: 0; height: 20px; width: 20px; border:3px solid #ddd; border-color:transparent #58B586; border-radius: 50%;}
.cm-scrollrefresh .cm-sr-top-ac .cm-sr-top-ico{-webkit-animation: cm-rotate .6s linear infinite;animation: cm-rotate .6s linear infinite;}
.cm-scrollrefresh-short{padding-bottom: 40px;}
.cm-scrollrefresh .cm-sr-bot{line-height: 40px;background: rgba(255,255,255,0); text-align: center;}
.cm-scrollrefresh-short .cm-sr-bot{position: absolute; left: 0; bottom: 0; width: 100%;}
.cm-scrollrefresh .cm-sr-bot-text-done{ display: none;}
.cm-scrollrefresh .cm-sr-bot-done .cm-sr-bot-text-done{ display: block;}
.cm-scrollrefresh .cm-sr-bot-done .cm-sr-bot-text{ display: none;}

@-webkit-keyframes cm-rotate{
    from { transform: rotate(0);}
    to { transform: rotate(180deg);}
}
@keyframes cm-rotate{
    from { transform: rotate(0);}
    to { transform: rotate(180deg);}
}