<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="format-detection" content="telephone=no">
		<meta content="telephone=no" name="format-detection">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>系统</title>
		<link rel="stylesheet" type="text/css" href="stylesheet/base.css?v=1.0">
	</head>
	<body>
			<div id="app" class="html">
				<div class="toptype">
					<div class="bread">Target<span class="bread-sp">&gt;</span>Segment</div>
					<div class="types">
						<a href="javascript:;" v-for="item in catelist" :class="{'type-active':ac_cate==item.id}" class="type" @click="changetype(item.id,item.name)">{{item.name}}</a>
						<!-- <a href="javascript:;" :class="{'type-active':ac_type=='2'}" class="type" @click="changetype(2,'CLV')">CLV</a> -->
						<!-- <a href="javascript:;" :class="{'type-active':ac_type=='3'}" class="type" @click="changetype(3,'AARRR')">AARRR</a> -->
						<!-- <a href="javascript:;" :class="{'type-active':ac_type=='4'}" class="type" @click="changetype(4,'Position Area')">Position Area</a> -->
					</div>
				</div>
				<!-- <p v-cloak>{{message}}</p> -->
				<div class="content ovh" id="J_content">
					<!-- left -->
					<div class="cont-left" id="J_cleft">
						<div class="cl-box">
							<p class="clb-til"><span v-cloak>{{cate_name}}</span> Segment <a href="javascript:;" class="clb-ico clb-icoa" @click="getpagedata()"></a></p>
							<div v-cloak class="clb-table">
								<table>
									<tr v-for="item in statcount"><td>{{item.name}}</td><td>{{item.count|numsplite}}</td><td>{{item.percent}}%</td></tr>
								</table>
							</div>
							<p class="loading" v-show="loading.tongji"><img src="images/loading.gif" class="load-ico">正在加载···</p>
						</div>

						<div class="cl-box">
							<p class="clb-til">Param Setting<a href="javascript:;" class="clb-ico clb-icob" @click="toggleparam()"></a></p>
							<div class="clb-item">
								<p class="clb-item-til">
									时间范围
									<span class="clb-item-type" v-cloak>
										<span v-show="setting_copy.timeRange=='2'">{{setting.fromDay}}&ensp;天内</span>	
										<span v-show="setting_copy.timeRange=='1'">{{setting.fromTime}}&ensp;--&ensp;至今</span>	
										<span v-show="setting_copy.timeRange=='0'">不限</span>		
									</span>

								</p>
							</div>
							<div class="clb-item">
								<p class="clb-item-til">R值：距最近一次交易时间</p>
								<div class="clb-ul" v-cloak>
									<div class="clb-li" v-for="(item,index) in setting.r.list"><p class="clb-li-l">{{item.name}}</p><p class="clb-li-m"><span class="clb-li-sp">{{item.from}}-{{index==setting.r.list.length-1?'&infin;':item.to}}</span>天</p><p class="clb-li-r">{{item.weight}}</p></div>
								</div>
							</div>
							<div class="clb-item">
								<p class="clb-item-til">F值：交易频率</p>
								<div class="clb-ul" v-cloak>
									<div class="clb-li" v-for="(item,index) in setting.f.list"><p class="clb-li-l">{{item.name}}</p><p class="clb-li-m"><span class="clb-li-sp">{{item.from}}-{{index==0?'&infin;':item.to}}</span>次</p><p class="clb-li-r">{{item.weight}}</p></div>
								</div>
							</div>
							<div class="clb-item">
								<p class="clb-item-til">M值：交易总金额</p>
								<div class="clb-ul" v-cloak>
									<div class="clb-li" v-for="(item,index) in setting.m.list"><p class="clb-li-l">{{item.name}}</p><p class="clb-li-m"><span class="clb-li-sp">{{item.from}}-{{index==0?'&infin;':item.to}}</span>元</p><p class="clb-li-r">{{item.weight}}</p></div>
								</div>
							</div>
						</div>

					</div>

					<!-- right -->
					<div class="cont-right" id="J_cright">
						<div class="linetool">
							<div class="lt-type" v-cloak>
								<span>{{timespace}}</span>
								<select class="lt-sel" v-model="timespace"><option value="每小时更新">每小时更新</option><option value="每天更新">每天更新</option><option value="不更新">不更新</option></select>
								<img src="images/icon_arr_d01.png" class="tl-ico" />
							</div>
							<a href="javascript:;" class="lt-updata" @click="updatanow()"></a>
							<p class="uptime"><span class="uptime-ls">上次更新时间  <span v-cloak>{{pagedata.lastUpdateDate|timeFilter('Y-M-D h:m:s')}}</span></span><span class="uptime-ls">上次更新时间  <span v-cloak>{{pagedata.nextUpdateDate|timeFilter('Y-M-D h:m:s')}}</span></span></p>
						</div>

						<div class="fwbtab">
							<div class="tab-cont">
								<a href="javascript:;" class="tab" :class="{'tab-active':ac_tab=='1'}" @click="changetab(1)">R维度</a>
								<a href="javascript:;" class="tab" :class="{'tab-active':ac_tab=='2'}" @click="changetab(2)">F维度</a>
								<a href="javascript:;" class="tab" :class="{'tab-active':ac_tab=='3'}" @click="changetab(3)">M维度</a>
							</div>
						</div>

						<div class="xiangx">
							<p class="hr-y hr-ya"><span class="hr-yt hr-yt-t">M</span><span class="hr-yt hr-yt-b">M</span></p>
							<p class="hr-y hr-yb"><span class="hr-yt hr-yt-t">F</span><span class="hr-yt hr-yt-b">F</span></p>
							<p class="hr-y hr-yc"><span class="hr-yt hr-yt-t">F</span><span class="hr-yt hr-yt-b">F</span></p>

							<p class="hr-x hr-xa"><span class="hr-xt hr-xt-l">R</span><span class="hr-xt hr-xt-r">R</span></p>
							<p class="hr-x hr-xb"></p>
							<p class="hr-x hr-xc"><span class="hr-xt hr-xt-l">R</span><span class="hr-xt hr-xt-r">R</span></p>


							<div class="cr" v-cloak :class="{'cr-d':item.M_pos<0}" v-for="item in stat" :style="item.style"><p class="cr-te">{{item.name}}</p><p class="cr-num">{{item.count}}</p></div>

						</div>

					</div>
				</div>

				<!-- 弹层 -->
				<div class="pop noselect" :class="{'pop-active':setting_show}">
					<div class="pop-cont pop-setting">
						<div class="toptil"><p class="toptil-in">Param Setting Edit</p></div>
						<div class="rangetype">
							<p class="col cola">时间范围</p>
							<p class="rt-box">
								<a href="javascript:;" class="rt-ls" :class="{'rt-ls-active':setting_copy.timeRange=='2'}" @click="changerange('2')">天数</a>
								<a href="javascript:;" class="rt-ls" :class="{'rt-ls-active':setting_copy.timeRange=='1'}" @click="changerange('1')">时间段</a>
								<a href="javascript:;" class="rt-ls" :class="{'rt-ls-active':setting_copy.timeRange=='0'}" @click="changerange('0')">不限</a>
							</p>
						</div>
						<div class="rangewarp">
							<div class="rw-ls clearfix" v-show="setting_copy.timeRange=='2'">
								<p class="col colb">天数</p>
								<p class="rw-input"><input type="number" class="rw-ctrol" name="" v-model="setting_copy.fromDay">天内</p>
							</div>
							<div class="rw-ls clearfix" v-show="setting_copy.timeRange=='1'">
								<p class="col colb">时间段</p>
								<p class="rw-input">
									<input type="date" class="rw-ctrol rw-ctrola" name="" :value="setting_copy.copy_time"  v-model="setting_copy.copy_time" @change="datachange(setting_copy.copy_time)">&ensp;--&ensp;至今
									<!-- <input type="date" name="" class="rw-cdata" v-model="setting_copy.copytime" @change="datachange(setting_copy.fromTime)"> -->
								</p>
							</div>
							<div class="rw-ls clearfix">
								<p class="col colb">WEB</p>
								<p class="rw-input"><input type="text" class="rw-ctrol" name="" :value="setting_copy.web" v-model="setting_copy.web"></p>
							</div>
						</div>

						<p class="ltil">参数设置<span class="ltil-in">（点击线段，可添加新节点，最多可添加个分段。）</span></p>

						<div class="sbarbox ">
							<div class="sbar-item">
								<p class="sbar-til">R值：距最近一次交易时间</p>
								<div class="sbar-cont">
									<div class="sbar-bg">
										<p class="sbar-bg-te sbar-bg-tel"><span class="sbar-bg-tein">0</span></p>
										<p class="sbar-bg-te sbar-bg-ter"><span class="sbar-bg-tein">&infin;</span></p>
										<p class="sbar-bg-po sbar-bg-pol"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.r_min)}}</span></p>
										<p class="sbar-bg-po sbar-bg-por"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.r_max)}}</span></p>
									</div>
									<div class="sbar-lses">
										<div class="sbar-ls" v-for="(item,index) in setting_list.r.list" :style="'width: '+((item.to-item.from)/item.span)*100+'%;'">
											<p class="sbar-ls-move" v-dragmove="{'obj':setting_list.r,'index':index}"><span class="sbar-ls-to">{{item.to}}</span></p>
											<p class="sbar-ls-hr"></p>
											<a href="javascript:;" class="sbar-ls-add" @click="baradd(item,'r',index)"></a>
											<div class="sbar-tip">
												<a href="javascript:;" @click="bardel(item,'r',index)" class="sbar-ls-del"></a>
												<input type="text" class="sbar-ls-ctrol" name="" placeholder="请输入名称" :value="item.name" v-model="item.name">
												<input type="number" class="sbar-ls-ctrol sbar-ls-ctrola" name="" placeholder="请输入权重" :value="item.weight" v-model="item.weight">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="sbar-item">
								<p class="sbar-til">F值：交易频率</p>
								<div class="sbar-cont">
									<div class="sbar-bg">
										<p class="sbar-bg-te sbar-bg-tel"><span class="sbar-bg-tein">0</span></p>
										<p class="sbar-bg-te sbar-bg-ter"><span class="sbar-bg-tein">&infin;</span></p>
										<p class="sbar-bg-po sbar-bg-pol"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.f_min)}}</span></p>
										<p class="sbar-bg-po sbar-bg-por"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.f_max)}}</span></p>
									</div>
									<div class="sbar-lses">
										<div class="sbar-ls" v-for="(item,index) in setting_list.f.list" :style="'width: '+((item.to-item.from)/item.span)*100+'%;'">
											<p class="sbar-ls-move" v-dragmove="{'obj':setting_list.f,'index':index}"><span class="sbar-ls-to">{{item.to}}</span></p>
											<p class="sbar-ls-hr"></p>
											<a href="javascript:;" class="sbar-ls-add" @click="baradd(item,'f',index)"></a>
											<div class="sbar-tip">
												<a href="javascript:;" @click="bardel(item,'f',index)" class="sbar-ls-del"></a>
												<input type="text" class="sbar-ls-ctrol" name="" placeholder="请输入名称" :value="item.name" v-model="item.name">
												<input type="number" class="sbar-ls-ctrol sbar-ls-ctrola" name="" placeholder="请输入权重" :value="item.weight" v-model="item.weight">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="sbar-item">
								<p class="sbar-til">M值：交易总金额</p>
								<div class="sbar-cont">
									<div class="sbar-bg">
										<p class="sbar-bg-te sbar-bg-tel"><span class="sbar-bg-tein">0</span></p>
										<p class="sbar-bg-te sbar-bg-ter"><span class="sbar-bg-tein">&infin;</span></p>
										<p class="sbar-bg-po sbar-bg-pol"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.m_min)}}</span></p>
										<p class="sbar-bg-po sbar-bg-por"><span class="sbar-bg-tein" v-cloak>{{parseInt(minmax.m_max)}}</span></p>
									</div>
									<div class="sbar-lses">
										<div class="sbar-ls" v-for="(item,index) in setting_list.m.list" :style="'width: '+((item.to-item.from)/item.span)*100+'%;'">
											<p class="sbar-ls-move" v-dragmove="{'obj':setting_list.m,'index':index}"><span class="sbar-ls-to">{{item.to}}</span></p>
											<p class="sbar-ls-hr"></p>
											<a href="javascript:;" class="sbar-ls-add" @click="baradd(item,'m',index)"></a>
											<div class="sbar-tip">
												<a href="javascript:;" @click="bardel(item,'m',index)" class="sbar-ls-del"></a>
												<input type="text" class="sbar-ls-ctrol" name="" placeholder="请输入名称" :value="item.name" v-model="item.name">
												<input type="number" class="sbar-ls-ctrol sbar-ls-ctrola" name="" placeholder="请输入权重" :value="item.weight" v-model="item.weight">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="btnbox">
							<a href="javascript:;" class="btn" @click="savedata()">Save</a>
							<a href="javascript:;" class="btn" @click="toggleparam()">Cancel</a>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				var appbox = document.getElementById('app'),
					oftapp = appbox.getBoundingClientRect();

				var J_cright = document.getElementById('J_cright'),
					xiangw = oftapp.width - 722 ;

				J_cright.style.width = oftapp.width - 602;

			</script>
			<script src="javascript/lib/require.js" data-main="javascript/main.js?v=1.0"></script>
	</body>
</html>