@charset "utf-8";
div,p,span,a,nav,input,select,textarea,ul,li,img{ margin:0; padding:0; outline: 0; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box; box-sizing: border-box;}
body{ font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif; margin: 0; padding: 0; margin: 0 auto; position: relative;}
img { border: 0;display: inline-block; max-width: 100%; vertical-align: middle;}
a{ text-decoration:none; color: #222;}
ul{ list-style: none; }
dl,ul,p{ -webkit-margin-before:0em; -webkit-margin-after:0em;}
input,select,textarea{-webkit-appearance: none; font-size: 14px; outline: none; color: #333; font-family:Helvetica, "Helvetica Neue",  STHeiTi, sans-serif;}
body{ font-size: 14px; color: #333; background: #eef0f3; }
html{ font-size: 100px;}
html,body{ height: 100%; }
.alic{ text-align: center;}
.alir{ text-align: right;}
.ovh{ overflow: hidden;}
.fl{ float: left;}
.fr{ float: right;}
.bgcfff{ background: #fff;}
.wp100{ width: 100%;}
.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.dsn{ display: none;}
.dsb{display: block;}
.center{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);  }
.clearfix:after{ content: ""; display: block; clear: both; }
.opacity0{ opacity: 0; }
.fwb{ font-weight: bold;}

input::-webkit-input-placeholder { color: #ccc;}
textarea::-webkit-input-placeholder { color: #ccc;}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlynot supported by any browser */
}

.pg-top{ position: fixed; left: 0; top: 0; z-index: 1; height: 54px; background: #fff; width: 100%;}
.pg-top .left{ float: left; width: 400px; line-height: 54px; height: 54px; padding-left: 14px; font-size: 20px;}
.pg-top .right{ float: right; padding-right: 14px;line-height: 54px; height: 54px;}
.pg-top .logo{ float: left; width: 72px; border-right: 2px solid #eef0f3; line-height: 54px; text-align: center; font-size: 20px;}

.pg-left{position: fixed; left: 0; top: 0; z-index: 2; height: 100%; width: 70px;}
.pg-left .left{ position: absolute; left: 0; top: 54px; bottom: 0; width: 72px; overflow-y: scroll; border-right: 2px solid #eef0f3; border-top: 2px solid #eef0f3; -webkit-overflow-scrolling: touch; background: #fff; text-align: center; }
.pg-left .lls{ position: relative; height: 70px; padding-top: 5px; cursor: pointer;}
.pg-left .lls:hover{ background: #eef0f3;}
.pg-left .lls-active,.pg-left .lls-active:hover{ background: #519bf1; color: #fff;}
.pg-left .lls-active:before{ content: ""; display: block; position: absolute; right: 0; top: 50%; margin-top: -6px; border:6px solid #fff; border-color: transparent #fff transparent transparent;}
.pg-left .icon{ display: block; line-height: 36px; font-size: 28px;}
.pg-left .cont{ display: none; position: absolute; left: 72px; top: 54px; bottom: 0; width: 286px; padding: 20px; background: #fff; border-top: 2px solid #eef0f3;}
.pg-left .cont-active{ display: block;}
.pg-left .exps{ text-align: center; padding: 4px 0; margin-bottom: 20px; cursor: pointer; }
.pg-left .exps:hover{ box-shadow: 0 0 10px rgba(0,0,0,.1)}

.page-content{ position: relative; min-height: 100%;}
.pg-articlebox{ width: 375px; position: fixed; left: 50%; top: 100px; bottom: 100px; margin-left: -180px;display: -webkit-flex; /* Safari */ display: flex;align-items: center;}
.pg-articlebox .pg-article{ min-height: 670px; box-shadow: 0 0 10px rgba(0,0,0,.2); background: #fff; width: 100%;}

.pg-formset{position: fixed; right: 0; top: 54px; bottom: 0; width: 260px; border-top: 2px solid #eef0f3; background: #fff; overflow-y: scroll;-webkit-overflow-scrolling: touch; }
.pg-formset .form-eline{ position: relative; border-bottom: 1px solid #eee; padding: 10px 10px 10px 60px;}
.pg-formset .form-eline-line{  padding: 10px 10px 10px 0;}
.pg-formset .el-lado{line-height: 30px; color: #666;}
.pg-formset .el-ado{ position: absolute; left: 0; top: 10px; line-height: 30px; color: #666;}
.pg-formset .el-textarea{ display: block; width: 100%; height: 100px; padding: 10px; border-radius: 2px; border:1px solid #eee;}
.pg-formset .el-sliderbar{ position: relative; height: 30px; padding: 0 60px 0 10px;}
.pg-formset .el-sb-bg{ position: absolute; left: 0; top: 0; z-index: 2; height: 100%; width: 100%;}
.pg-formset .el-sb-slider{ position: relative; height: 30px; cursor: pointer;}
.pg-formset .el-sb-slider:before{ content: ""; display: block; position: absolute; left: 0; top: 50%; height: 2px; width: 100%; margin-top: -1px; background: #ddd; border-radius: 1px;}
.pg-formset .el-sb-bar{ position: absolute; left: 0; top: 50%; height: 14px; width: 14px; margin: -7px 0 0 -7px; border-radius: 7px; background: #519bf1; box-shadow: 0 0 4px rgba(0,0,0,.3);}
.pg-formset .el-sb-ctrol{ position: absolute; right: 0; top: 0; height: 30px; width: 50px; display: block; border-radius: 3px; border:1px solid #ddd; text-indent: 5px;}
.pg-formset .el-textfont{ overflow: hidden; text-align: center; padding-top: 3px; line-height: 24px;}
.pg-formset .el-tf-ls{ height: 24px; width: 24px; float: left; margin: 0 2px; cursor: pointer;}
.pg-formset .el-tf-lsac{ background: #519bf1; color: #fff; border-radius: 2px;}
.pg-formset .el-dropmenu{ position: relative; z-index: 3; height: 30px; width: 100%; border-radius: 3px; border:1px solid #eee; line-height: 28px; padding-left: 10px; cursor: pointer;}
.pg-formset .el-dm-til{ line-height: 28px;}
.pg-formset .el-dm-til-dis{ color: #999;}
.pg-formset .el-dm-drop{ display: none; position: absolute; left: 0; width: 100%; top: 100%; background: #fff; border:1px solid #eee; border-radius: 3px;}
.pg-formset .el-dm-ls{ line-height: 40px; padding-left: 10px;}
.pg-formset .el-dm-ls:hover{ background: #eee;}
.pg-formset .el-dm-drop-hover{ display: block;}
.pg-formset .xxx{}
.pg-formset .xxx{}
.pg-formset .xxx{}
.pg-formset .xxx{}
.pg-formset .xxx{}

.fs-togglebox{}
.fs-togglebox .tb-til{ position: relative; padding: 0 40px 0 10px; background: #f6f6f6; line-height: 40px;}
.fs-togglebox .tb-do{ position: absolute; right: 0; top: 0; padding-right: 10px; font-size: 12px;}
.fs-togglebox .tb-box{ overflow: hidden; padding:0 0 0 10px;}
.fs-togglebox .xxx{}
.fs-togglebox .xxx{}
.fs-togglebox .xxx{}
.fs-togglebox .xxx{}
.fs-togglebox .xxx{}
.fs-togglebox .xxx{}

